<?xml version="1.0"?>
<config>
    <modules>
        <Neo_Shippingtracker>
            <version>0.1.0</version>
        </Neo_Shippingtracker>
    </modules>
    <frontend>
        <routers>
            <shippingtracker>
                <use>standard</use>
                <args>
                    <module>Neo_Shippingtracker</module>
                    <frontName>shippingtracker</frontName>
                </args>
            </shippingtracker>
        </routers>
        <layout>
            <updates>
                <shippingtracker>
                    <file>shippingtracker.xml</file>
                </shippingtracker>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<shippingtracker>
				<use>admin</use>
				<args>
					<module>Neo_Shippingtracker</module>
					<frontName>shippingtracker</frontName>
				</args>
			</shippingtracker>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<shippingtracker module="shippingtracker">
				<title>Shippingtracker</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="shippingtracker">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>shippingtracker/adminhtml_shippingtracker</action>
					</items>
				</children>
			</shippingtracker>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Neo_Shippingtracker>
							<title>Shippingtracker Module</title>
							<sort_order>10</sort_order>
						</Neo_Shippingtracker>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<shippingtracker>
					<file>shippingtracker.xml</file>
				</shippingtracker>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <shippingtracker>
                <class>Neo_Shippingtracker_Model</class>
                <resourceModel>shippingtracker_mysql4</resourceModel>
            </shippingtracker>
            <shippingtracker_mysql4>
                <class>Neo_Shippingtracker_Model_Mysql4</class>
                <entities>
                    <shippingtracker>
                        <table>shippingtracker</table>
                    </shippingtracker>
                </entities>
            </shippingtracker_mysql4>
        </models>
        <resources>
            <shippingtracker_setup>
                <setup>
                    <module>Neo_Shippingtracker</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shippingtracker_setup>
            <shippingtracker_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shippingtracker_write>
            <shippingtracker_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shippingtracker_read>
        </resources>
        <blocks>
            <shippingtracker>
                <class>Neo_Shippingtracker_Block</class>
            </shippingtracker>
        </blocks>
        <helpers>
            <shippingtracker>
                <class>Neo_Shippingtracker_Helper</class>
            </shippingtracker>
        </helpers>
    </global>
</config>